body {
    padding-left:20%;
    padding-right:20%;
}


h1,h3 {
    text-align: center;
}

h2 {
    text-align: right;
    text-decoration: lightslategray underline;
}

h1,h2,h3,h4,h5,h6,b,strong {
    color: plum;
}

hr {
     border: thin dotted lightslategray;
    width: 50%;
}

p {
    color: lightslategray;
    font-family: Georgia, serif;
}

